name: build-idf-example-ad-hoc.yml
on:
  workflow_dispatch:
    inputs:
      target:
        description: "Target to build"
        required: true
        default: "esp32"
        type: string
      idf_tag:
        description: "IDF tag to use, please check the list of available tags at https://hub.docker.com/r/espressif/idf/tags"
        required: true
        default: "v5.1.2"
        type: string
      example_path:
        description: "Path to example to build"
        required: true
        default: "examples/get-started/hello_world"
        type: string
      build_dir:
        description: "Path to build directory"
        required: true
        default: "build"
        type: string
      upload_whole_build_dir:
        description: "Upload the whole build directory instead of a minimal set of binaires (bootloader, partition table, app binary, etc.)"
        required: true
        default: false
        type: boolean
      override_sdkconfig_items:   
        description: "Override some of the sdkconfig items, comma-separated. for example, CONFIG_COMPILER_OPTIMIZATION_PERF=y,CONFIG_APP_BUILD_TYPE_RAM=y"
        required: false
        default: ""
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: espressif/idf:${{ github.event.inputs.idf_tag }}
    env:
      IDF_PATH: /opt/esp/idf
    steps:
      - name: Parameters
        env:
          PARAMETERS: "${{ tojson(inputs) }}"
        run: |
          echo "Parameters: $PARAMETERS"
      - name: Prepare
        run: |
          cd ${{ env.IDF_PATH }}
          bash install.sh
      - name: Build
        shell: bash
        run: |
          cd ${{ env.IDF_PATH }}
          . ./export.sh
          pip install 'idf-build-apps~=2.0'
          if [[ "${{ github.event.inputs.override_sdkconfig_items }}" ]]; then
            idf-build-apps build -p ${{ github.event.inputs.example_path }} --build-dir ${{ github.event.inputs.build_dir }} -t ${{ github.event.inputs.target }} --override-sdkconfig-items "${{ github.event.inputs.override_sdkconfig_items }}"
          else
            idf-build-apps build -p ${{ github.event.inputs.example_path }} --build-dir ${{ github.event.inputs.build_dir }} -t ${{ github.event.inputs.target }}
          fi
          cat override-result.sdkconfig || true
      - name: Merge Bin
        run: |
          cd ${{ env.IDF_PATH }}
          . ./export.sh
          cd ${{ github.event.inputs.example_path }}/${{ github.event.inputs.build_dir }}
          python -m esptool --chip ${{ github.event.inputs.target }} merge_bin -o merged-flash.bin @flash_args
      - name: Upload minimum set of binaries
        # https://github.com/actions/runner/issues/1483 boolean is actuall string
        if: ${{ github.event.inputs.upload_whole_build_dir == 'false' }}
        uses: actions/upload-artifact@v4
        with:
          name: build-minimal
          path: |
            ${{ env.IDF_PATH }}/${{ github.event.inputs.example_path }}/${{ github.event.inputs.build_dir }}/*.bin
            ${{ env.IDF_PATH }}/${{ github.event.inputs.example_path }}/${{ github.event.inputs.build_dir }}/bootloader/*.bin
            ${{ env.IDF_PATH }}/${{ github.event.inputs.example_path }}/${{ github.event.inputs.build_dir }}/partition_table/*.bin
            ${{ env.IDF_PATH }}/${{ github.event.inputs.example_path }}/${{ github.event.inputs.build_dir }}/flash_args
            ${{ env.IDF_PATH }}/${{ github.event.inputs.example_path }}/${{ github.event.inputs.build_dir }}/flash_project_args
            ${{ env.IDF_PATH }}/${{ github.event.inputs.example_path }}/${{ github.event.inputs.build_dir }}/flasher_args.json
            ${{ env.IDF_PATH }}/${{ github.event.inputs.example_path }}/${{ github.event.inputs.build_dir }}/config/sdkconfig.json
            ${{ env.IDF_PATH }}/${{ github.event.inputs.example_path }}/${{ github.event.inputs.build_dir }}/project_description.json
            ${{ env.IDF_PATH }}/${{ github.event.inputs.example_path }}/${{ github.event.inputs.build_dir }}/merged-flash.bin
      - name: Upload whole build directory
        if: ${{ github.event.inputs.upload_whole_build_dir == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: ${{ env.IDF_PATH }}/${{ github.event.inputs.example_path }}/${{ github.event.inputs.build_dir }}
